body {
    background-color: powderblue;
	text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h1 {
    color: Green;
	text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h2{
	color:black;
	
	
}
p {
    color: black;
	text-align: center;
  font-family: "Times New Roman", Times, serif;"
}
